<header
    class="flex text-base items-center justify-center py-5 max-w-full text-nowrap xl:w-[1120px] mx-auto"
>
    <nav class="flex flex-row gap-x-1 xl:gap-x-10">
        <a
            class="p-2 opacity-80 rounded-md hover:opacity-100 hover:drop-shadow-glow"
            href="#about">Inicio</a
        >
        <a class="p-2 opacity-80 rounded-md hover:opacity-100" href="#projects"
            >Projectos</a
        >
        <a class="p-2 opacity-80 rounded-md hover:opacity-100" href="#contacts"
            >Contacts</a
        >
        <a class="p-2 opacity-80 rounded-md hover:opacity-100" href="#aboutme"
            >Sobre mí</a
        >
    </nav>
</header>
